<!DOCTYPE html>
<html lang= "en">
<head>
  <h3><b><%= username %></b></h3> 
</head>
<form action="/login" method="POST" style="margin:10px;">
  <label for="username">Enter a username:</label>
  <input id="username" type="text" name="username" style="width:150px">
  <input type="submit" value="Submit">
 
</form>
</html>