<!DOCTYPE html>
<html lang= "en">
  <h2 style="color:rgb(107, 150, 57);"><font face="Helvetica">Log in</h2></font>
  <form action="/login" method="POST" style="margin:10px;">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" style="width:300px">

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" style="width:300px">
    <input type="submit" value="Submit">
  </form>
</html>