<!DOCTYPE html>
<html lang= "en">
  <body style="font-size:20px; padding:50px;"></bodystyle>
  <h2 style="color:rgb(107, 150, 57);"><font face="Helvetica">Log in</h2>
  <form action="/login" method="POST" style="margin:10px;">
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" style="width:200px">

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" style="width:150px">
    <input type="submit" value="Submit">
  </font>
  </form>
</html>