<!DOCTYPE html>
<html lang= "en">
  <head>
    <body style="font-size:20px; padding:50px;">
      <% include partials/_header %>
      <h4 style="color:rgb(107, 150, 57);"><font face="Helvetica">&nbsp;&nbsp;Let's shorten a URL. Weeee!!</h4></font>
      <form action="/urls" method="POST" style="margin:12px;">
        <label for="longURL">Enter a URL:</label>
        <input id="longURL" type="text" name="longURL" value="http://" style="width:300px">
        <input type="submit" value="Submit">
      </form>
    </body>
  </head>
</html>